@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-color: aqua;
    color: aliceblue;
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

a{
    color: white;
}

h1 {
    line-height: 1.4;
}

.btn{
    border: 0;
    background-color: white;
    color: cadetblue;
    padding: 15px 20px;
    font-family: inherit;
}